<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>DevConect - Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="background">
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="DevConect" class="logo">
        <h2>Cursos Disponíveis</h2>
        <div class="button-group">
            <a href="#" class="big-button">Desenvolvimento</a>
            <a href="#" class="big-button">Softskills</a>
        </div>
    </div>
</body>
</html>
